**Import Libraries:**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# seaborn is a data visualization library built on matplotlib
import seaborn as sns

# set the plotting style
sns.set_style("whitegrid")

In [25]:
import mimetypes
print(mimetypes.guess_type("../data/EdGap_data.xlsx"))

('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', None)

**Load Data:**

In [27]:
# Load the datasets
edgap_data = pd.read_excel('../data/EdGap_data.xlsx')
ccd_sch = pd.read_csv('../data/ccd_sch_029_1617_w_1a_11212017.csv', encoding='latin1')

In [ ]:
ccd_sch.info()

**Display head of data:**

In [31]:
# Display the first few rows of each dataset
print("EdGap data:")
print(edgap_data.head())

EdGap data:
   NCESSCH School ID  CT Unemployment Rate  CT Pct Adults with College Degree  \
0       100001600143              0.117962                           0.445283
1       100008000024              0.063984                           0.662765
2       100008000225              0.056460                           0.701864
3       100017000029              0.044739                           0.692062
4       100018000040              0.077014                           0.640060

   CT Pct Childre In Married Couple Family  CT Median Household Income  \
0                                 0.346495                     42820.0
1                                 0.767619                     89320.0
2                                 0.713090                     84140.0
3                                 0.641283                     56500.0
4                                 0.834402                     54015.0

   School ACT average (or equivalent if SAT score)  \
0                                        20.433455
1                                        19.498168
2                                        19.554335
3                                        17.737485
4                                        18.245421

   School Pct Free and Reduced Lunch
0                           0.066901
1                           0.112412
2                           0.096816
3                           0.296960
4                           0.262641

In [32]:
# Display the first few rows of each dataset
print("\nSchool information data:")
print(ccd_sch.head())

School information data:
  SCHOOL_YEAR STATENAME  ST                          SCH_NAME  \
0   2016-2017   ALABAMA  AL  Sequoyah Sch - Chalkville Campus
1   2016-2017   ALABAMA  AL                             Camps
2   2016-2017   ALABAMA  AL                           Det Ctr
3   2016-2017   ALABAMA  AL     Wallace Sch - Mt Meigs Campus
4   2016-2017   ALABAMA  AL         McNeel Sch - Vacca Campus

                 LEA_NAME ST_LEAID   LEAID     ST_SCHID       NCESSCH   SCHID  \
0  Alabama Youth Services   AL-210  100002  AL-210-0020  1.000020e+10  100277
1  Alabama Youth Services   AL-210  100002  AL-210-0050  1.000020e+10  101667
2  Alabama Youth Services   AL-210  100002  AL-210-0060  1.000020e+10  101670
3  Alabama Youth Services   AL-210  100002  AL-210-0030  1.000020e+10  101705
4  Alabama Youth Services   AL-210  100002  AL-210-0040  1.000020e+10  101706

   ...   MZIP                     LSTREET1        LCITY  LSTATE   LZIP  \
0  ...  35220  1000 Industrial School Road   Birmingham      AL  35220
1  ...  36057           1601 County Rd. 57   Prattville      AL  36067
2  ...  36057       2109 Bashi Rd Bldg 509  Thomasville      AL  36784
3  ...  36057  1000 Industrial School Road  Mount Meigs      AL  36057
4  ...  35206            8950 Roebuck Blvd   Birmingham      AL  35206

  UPDATED_STATUS_TEXT EFFECTIVE_DATE       SCH_TYPE_TEXT SCH_TYPE LEVEL
0                Open         3/3/10  Alternative School        4  High
1                Open         3/3/10  Alternative School        4  High
2                Open         3/3/10  Alternative School        4  High
3                Open         3/3/10  Alternative School        4  High
4                Open         3/3/10  Alternative School        4  High

[5 rows x 23 columns]